@import "tailwindcss";
@import "tw-animate-css";

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary: var(--tertiary);
  --color-subtle-foreground: var(--subtle-foreground);
  --color-subtle: var(--subtle);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.039 0 0);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.039 0 0);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.039 0 0);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.98 0 0);
  --primary-foreground: oklch(0.09 0 0);
  --secondary: oklch(0.149 0 0);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.149 0 0);
  --muted-foreground: oklch(0.639 0 0);
  --accent: oklch(0.149 0 0);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.45 0.15 29);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.149 0 0);
  --input: oklch(0.149 0 0);
  --ring: oklch(0.831 0 0);
}

.dark {
  --background: oklch(1 0 0);
  --foreground: oklch(0.039 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.039 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.039 0 0);
  --primary: oklch(0.09 0 0);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.961 0 0);
  --secondary-foreground: oklch(0.09 0 0);
  --tertiary: oklch(0.9 0 0);
  --tertiary-foreground: oklch(0.09 0 0);
  --subtle: oklch(0.9 0.01 240);
  --subtle-foreground: oklch(0.09 0 0);
  --muted: oklch(0.961 0 0);
  --muted-foreground: oklch(0.451 0 0);
  --accent: oklch(0.961 0 0);
  --accent-foreground: oklch(0.09 0 0);
  --destructive: oklch(0.7 0.22 29);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.898 0 0);
  --input: oklch(0.898 0 0);
  --ring: oklch(0.039 0 0);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient {
  background: conic-gradient(
    from 230.29deg at 51.63% 52.16%,
    rgb(36, 0, 255) 0deg,
    rgb(0, 135, 255) 67.5deg,
    rgb(108, 39, 157) 198.75deg,
    rgb(24, 38, 163) 251.25deg,
    rgb(54, 103, 196) 301.88deg,
    rgb(105, 30, 255) 360deg
  );
}

.not-found {
  box-shadow: rgba(150, 18, 226, 0.3) 5px 5px;
}

.dumy {
  color: hsl(0 0% 98%);
  color: rgb(38, 38, 38);
  /* @apply to-purple-500 */
}

::-webkit-scrollbar {
  width: 6px;
  scrollbar-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::selection {
  background-color: rgba(168, 85, 247, 0.2);
  color: hsl(var(--foreground));
}

html,
body {
  font-family: "Inter", sans-serif !important;
}
